version: 2.1

orbs:
  maven: circleci/maven@1.0.1

workflows:
  maven_test:
    jobs:
      - maven/test: # checkout, build, test, and upload test results
          filters:
            branches:
              ignore: master
      - deploy:
          filters:
            branches:
              only: master
      - trigger_integration_builds:
          filters:
            branches:
              only: master
          requires:
            - deploy

jobs:
  deploy: # mvn deploy does build, test, install, deploy (of the SNAPSHOT)

    docker:
      - image: circleci/openjdk:11.0.1-jdk

    steps:
      - checkout
      - run:
          name: Deploy
          command: mvn clean deploy -s .circleci/settings.xml

  trigger_integration_builds:

    docker:
      - image: cimg/base:2020.01 # image: cimg/base:2020.01

    steps:
      # Trigger Builds Activator and Library so the newest snapshot gets used
      - run:
          name: Trigger Activator and Library to build
          command: |
            curl -v -X POST --header 'Content-Type:application/json' \
             https://circleci.com/api/v1.1/project/github/kgrid/kgrid-activator/tree/master?circle-token=$CIRCLECI_TOKEN
            curl -v -X POST --header 'Content-Type:application/json' \
             https://circleci.com/api/v1.1/project/github/kgrid/kgrid-library/tree/master?circle-token=$CIRCLECI_TOKEN

